.chart{
  text-align: right;
}
.nav-wrapper{
  background: #d32f2f;
}
.logo{
  width: 365px;
  height: auto;
}
h5{
  text-align: right;
  color: #7e7e7e;
}
.num{
  background-color: #d32f2f;
  color: white;
  width:18px;
  margin-left: 95%;
}
.button{
  background-color: : #d32f2f;
}

.track-name{
  color: #7e7e7e
  /*mix-blend-mode: overlay;*/
}
.artist-name{
  color: #bdbdbd;
  /*mix-blend-mode: difference;*/
}
