
<!-- main.covers[x] is whats repeating -->
<ul>
  <li ng-repeat="video in main.covers">
    <div >{{video.snippet.channelTitle}}</div>
    <div>{{video.snippet.title}}</div>
    <!-- <div>{{video.id.videoId}}</div> -->
    <button ng-click="main.getVideoId(video.id.videoId)"><img src="{{video.snippet.thumbnails.medium.url}}"></button>



  </li>
</ul>


<!-- <iframe type="text/html"
    width="640"
    height="385"
    src="http://www.youtube.com/embed/6AwdSFjfzP4"
    frameborder="0">
</iframe> -->
